.table-container {
  overflow: hidden;
  width: 100%;
}


.content-right {
  width: 48%;
}
.left-column,
.right-column {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 1s ease, transform 1s ease;
}
.left-column {
  transform: translateX(-100%);
}
.right-column {
  transform: translateX(100%);
}
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }  
}

.table-responsive
{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  background-color: transparent;
  width: 100%;
  border-collapse: collapse;
}
.table-bordered th,
.table-bordered td {
  background-color: transparent !important;
  color: #ffffff !important;
  border: 1px solid #fffafa; 
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
th,
td {
  border: 1px solid #fffafa;
  padding: 10px;
  font-size: 18px;
}
.container-course-details {
  background-color: #2e4d86;
  color: #f8f9fa;
}
.container-course-details .course-details-h2 {

  padding-top: 2%;
  color: #fafaff;
  font-size: 3rem;
  font-weight: 700;
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #2e4d86;
  padding: 50px;
  padding-bottom: 60px;
  border-radius: 5%;
}
.content-text {
  flex: 1;
  max-width: 100%;
  background-color: transparent;
  color: #02052e;
  animation: fadeInLeft 0.2s forwards;

}
.img-container {
  background-image: url('../img/course (1).webp');  
  background-size: cover; 
  background-position: center;  
  width: 100%; 
  padding-top: 56.25%;  
  border-radius: 0.25rem;  
}
.table-container {
  opacity: 0;
  animation: fadeInRight 0.2s forwards;
}

@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .content-text {
    flex: 1;
  }
  .table-container {
    flex: 1;
  }
  .container-course-details .course-details-h2 {
    color: #fff;
  }
  .table td {
    padding: 8px;
    font-size: 1.1rem;
  }

}
.content-text .img-fluid {
  max-width: 90%;
  height: auto;
}
@media (max-width: 768px) {
  .content-container {
    margin: 0%;
    flex-direction: column;
    align-items: center;
  }
  .content-right {
    display: none;
  }
  .container-course-details .course-details-h2 {
    color: #f4f4fa;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media(max-width : 576px){
  .table th,
  .table td {
    padding: 6px;
    font-size: 0.8rem;
  }
}