.navap
{
    position: relative;
    z-index: 1000;
}

.navap .menuap > .menuitemap {
    pointer-events: all;
    opacity: 1;
    position: relative;
    z-index: 1500;
  }
  .menuitemap
  {
    list-style: none;
  }
  .menuap  .menuitemap  > a {
    white-space: nowrap;
    display: block;
    width: 30px;
  }
  
  .navap a {
    background: rgb(23, 0, 117);
    color: #FFF;
    min-width: 190px;
    transition: background 0.5s, color 0.5s, transform 0.5s;
    margin: 0px 6px 6px 0px;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1002;
  }
  
  .navap  .menuitemap  > .menuap {
    position: absolute;
    pointer-events: none;  /* Disable pointer events initially */
    opacity: 0;
    transform: translateY(180%); /* Hide submenus */
    transition: opacity 0.6s, transform 0.6s;
    z-index: 1003;
  }
  
  .navap .menuap > .menuitemap > .menuap {
     position: absolute; 
     z-index: 20;
    } /* Higher z-index for the submenu */
  
  .navap .menuap  > .menuitemap:hover > .menuap {
    pointer-events: all; /* Enable pointer events on hover */
    opacity: 1;
    transform: translateY(0); /* Slide submenu into view */
    z-index: 1004;
  }
  
  .navap .menuap  > .menuitemap  > a + ul:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid white;
    left: 12px;
    top: -40px;
    z-index: 1005;
  }
  
  .navap .menuap  > .menuitemap  > .menuitemap  > .menuap {
    transform: translateX(100%); /* Initially hide the deeper submenu */
    top: 0;
    right: 0;
  }
  
  .menuitemap  > .menuitemap  > .menuitemap  > .menuap  > .menuitemap  {
    transition: transform 0.6s, opacity 0.6s;
    transform: translateX(195px) translateY(0%); /* Adjust for deeper submenu */
    opacity: 0;
  }
  
  .navap .menuitemap  > .menuap  > .menuitemap  > a + .menuap:after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-left: 10px solid white;
    top: 20px;
    left: -180px;
    transition: opacity 0.6, transform 0s;
    z-index: 1006;
  }
  
  /* Add hover class effect for submenu visibility */
  .navap .menuap  >.menuitemap:hover .menuap > .menuitemap  {
    transform: translateY(0);
    opacity: 1;
    z-index: 1007;
  }
  
