.footer {
    background: #1e3651;
    color: white;
    padding-left: 0%;
}

<<<<<<< HEAD
=======

>>>>>>> 0ffd255e26c3287438be32ec5aa80a67b62a2f02
.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Distribute columns evenly */
<<<<<<< HEAD
    padding-bottom: 50px;
=======
    padding-bottom: 100px;
>>>>>>> 0ffd255e26c3287438be32ec5aa80a67b62a2f02

}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
<<<<<<< HEAD

}

.footer .location,
.footer .about-company{
    flex: 1;
    /* Ensures equal spacing across columns */
    min-width: 250px;
    font-size: 14px;
    position: relative;
    /* Minimum width to keep items aligned on smaller screens */
}

.footer .location
{
    left: 100px;
}

.footer .links{
    flex: 1;
    /* Ensures equal spacing across columns */
    min-width: 100px;
    font-size: 14px;
    position: relative;
    left: 200px;
    /* Minimum width to keep items aligned on smaller screens */
}


.about-company h4 p {
   text-align: left;
    /* Center the About Us section */
    
=======
    margin-right: -360px;

}

.row {
    --cui-gutter-x: 8.5rem;
}

.footer .location,
.footer .about-company,
.footer .links {
    flex: 1;
    /* Ensures equal spacing across columns */
    min-width: 250px;
    /* Minimum width to keep items aligned on smaller screens */
    margin-top: 55px;
    margin-bottom: -60px;
}

.footer .about-company {
    text-align: center;
    /* Center the About Us section */
    margin-top: 55px;
    margin-bottom: -100px;
>>>>>>> 0ffd255e26c3287438be32ec5aa80a67b62a2f02
}

.footer .about-company h2,
.footer .about-company p {
    text-align: center;
    /* Center text within the About Us section */
}

.footer .links {
<<<<<<< HEAD
    text-align: end;
=======
    text-align: right;
>>>>>>> 0ffd255e26c3287438be32ec5aa80a67b62a2f02
    /* Align Links section to the right */
}

.footer .links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
<<<<<<< HEAD
    
}

.footer .links li a {
    color: #989899;
    transition: color 0.2s;
   
=======
}

.footer .links li a {
    color: white;
    transition: color 0.2s;
>>>>>>> 0ffd255e26c3287438be32ec5aa80a67b62a2f02
}

.footer .links li a:hover {
    text-decoration: none;
    color: #4180CB;
}

.footer .social-media a {
    color: white;
    margin-right: 10px;
    transition: color 0.2s;
}
<<<<<<< HEAD
.social-media a i
{
    width: 40px;
    font-size: 20px;
}
=======

>>>>>>> 0ffd255e26c3287438be32ec5aa80a67b62a2f02
.footer .social-media a:hover {
    color: #4180CB;
}

.footer .copyright p {
    border-top: 1px solid rgb(225, 211, 211);
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    color: #ffffff;
}

@media (max-width: 768px) {

    .footer .container,
    .footer .row {
        flex-direction: column;
        /* Stack columns on smaller screens */
        align-items: center;
        /* Center all columns */
    }

    .footer .location,
    .footer .about-company,
    .footer .links {
        text-align: center;
        /* Center text on smaller screens */
    }
<<<<<<< HEAD
    .footer .location
    {
        position: relative;
        left: 0px;
        width: 300px;
    }
    .footer .links
    {
        position: relative;
        left: 0px;
        width: 300px;
    }
=======
>>>>>>> 0ffd255e26c3287438be32ec5aa80a67b62a2f02
}

.copyright p {
    text-align: center;
    width: 100vw;


}

.location h2,
p {
    text-align: left;
}

.links ul li,
h4 {
    text-align: left;
}

.about-company h2,
p {
    text-align: left;
<<<<<<< HEAD
=======

>>>>>>> 0ffd255e26c3287438be32ec5aa80a67b62a2f02
}

.social-media {
    padding-bottom: 2%;
}